*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 380rem;
}


header{
  width: 100% ;
  height: 52rem;
  background-image: url(assets/star\ uó\ topo.png);
  background-repeat: no-repeat;
  background-size: cover;

}
.kylo{
    position: absolute;
    left:13.5rem;
    top: 0.2rem;
    z-index: 5;
}
.star{
    position: absolute;
    left: 24.7rem;
    top:28.5rem;
}
.wars{
    position: absolute;
    left:79rem;
    top: 28.5rem;

}
main{
    width: 100%;
    background-image: url(assets/Retângulo\ 2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.download{
    width: 24.5rem;
    height: 35.5rem;
    background-image: url(assets/strom\ trupe\ red.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 59.5rem;
    left: 18rem;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
}
h1{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 30px;
    color: whitesmoke;
    display: flex;
}
.p1{
    font-size:15px;
    color: whitesmoke;
    flex-wrap: wrap;
}
.p2{
    border: solid 1px whitesmoke;
    padding: 2px 1px 2px 1px;
    font-size:17px;
    text-transform: uppercase;
    font-weight: bold;
    color: whitesmoke;
    border-radius: 7px;
}
.legion{
    position: absolute;
    right: 25rem;
    top: 40rem;
}
.line{
    width: 75%;
    height: 0.5rem;
    background-color: gray;
    position: absolute;
    bottom: 53rem;
    left: 18rem;
}
.sithius{
    position: absolute;
    top: 41rem;
    left: 17rem;
    z-index: 20;
    
}
.sithius:hover{
    opacity: 90%;
    
}
.rey{
    position: absolute;
    top: 47.5rem;
    right: 13rem;
    z-index: 20;
}
.rey:hover{
    opacity: 90%;
}
.about{
    position: absolute;
    right: 15.2rem;
    bottom: 59.5rem;
}
.main2{
    width: 100%;
    height: 146rem;
    position: absolute;
    background-image: url(assets/Retângulo\ 3.svg);
    top: 91.4rem;
}
.atributos{
        position: absolute;
        left: 18.5rem;
        top: 11rem;
        
}    
.mainh1{
    font-size: 2.5rem;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}
.img1{
    position: absolute;
    top: 21rem;
    left: 12.3rem;
}
.list-title{
    position: absolute;
    border: solid 2px blue ;
    width: 12rem;
    height: 6rem;
    z-index: 20;
    left: 66rem;
    bottom: 28rem;
}
.imgline1{
    position: absolute;
    left:64rem;
    top: 21rem;
}
.imgline2{
    position: absolute;
    left:64rem;
    top: 36.7rem;
}
.hierarquia{
    position: absolute;
    left: 12.8rem;
    top: 55.5rem;
    
}
.list{
    width: 20rem;
    height: 10rem;
    position: absolute;
    border: solid 2px red;
    z-index: 40;
}   
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.txt{   
    width: 750px;
    position: absolute;
    bottom:24rem;
    right: 17rem;
    text-align: justify;
    color: blanchedalmond;
    font-size: 20px;
}
.main-footer{
    position: absolute;
    width: 25rem;
    height: 10rem;
    bottom: 2rem;
    font-weight:900;
    left: 50rem;
    color:whitesmoke;
    font-size: 50px;
    text-transform: uppercase;
}
.box-footer{
    width: 76rem;
    height: 55rem;
    background-color: #FF5A56;
    position: absolute;
    top: 327rem;
}
.stormtrup{
    position: absolute;
    top: 263.5rem;
    left: 11.3rem;
}
.vader{
    position: absolute;
    top: -8rem;
    left: 63.3rem;
}
.app{
    position: absolute;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 50px;
    left: 17.5rem;
    top: 10rem;
    color: #FFFFFF;
}
.text-footer{
    position: absolute;
    left: 17.5rem;
    top: 17rem;
    width: 34rem;
    height: 6rem;
}
.text-footer p{
    color:whitesmoke;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;

}
.mobile{
    position: absolute;
    left: 17.3rem;
    top: 24rem;
}
.line-footer{
    width: 32.3rem;
    height: 0.3rem;
    background-color: chartreuse;
    position: absolute;
    top: 33rem;
    left: 17.6rem;
}