*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
@font-face {
    font-family:"Gilroy" ;
    src: url(assets/Gilroy-ExtraBold.ttf);
}
@font-face {
    font-family: "Sovereign";
    src: url(assets/Sovereign_Font/Font/Sovereign.ttf);
}
header figure{
    height: 100%;   
    width: 100%;
   
}
.header-box{
    display: flex;
    height: 100%;   
    justify-content: center;
    align-items: center;
}
header{
    position: relative;
    background-image: url(assets/star\ uó\ topo@2x.png);
    background-repeat: no-repeat;
    background-size:100%;
    height:43vw;
    width: 100%;
    
    
}
.kylo{
    width: 70vw;
    position: absolute;
    left: 10%;
    top: -0.5%;
    z-index: 5;
    
}
.star{
    position: absolute;
    top: 56.5%;
    left: 19.8%;
    width: 23vw;
}
.wars{
    position: absolute;
    top: 56.5%;
    left: 65.3%;
    width: 23vw;
}
.legion{
   position: absolute;
   top: 77.5%;
   left: 78%;
   width: 8vw;
}
main{
    height: 100%;
}
.section{
   display: flex;
   justify-content: space-around;
   
}

.box{
    display: flex;
    position: absolute;
    bottom: 64.5%;
    z-index: 20;
    left: 14%;
    width: 21vw;
    height: 28vw;
    background-image: url(assets/strom\ trupe\ red.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.red-title{
    position: absolute;
    top:17%;
    left: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 55%;
}
.red-title h2{
     font-family:"Gilroy" ;
     font-size: 2.4vw;
     color: white;
     text-transform: uppercase;
}
.box-paragraph{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    position: absolute;
    top: 55%;
    left: 12%;
    width: 79%;
    height: 15%;
}
.box-paragraph p{
    color: white;
    font-weight: lighter;
    font-size: 0.9vw;
}
main section{
    width: 100%;
    height: 100%;
    
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;

}
.aboutbox{
    position: absolute;
    bottom: 64%;
    width: 39vw;
    left: 50%;
}
.backimg{
    position: relative;
    height: 70vw;
    background-image: url(assets/sta\ uo\ robot.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.line{
    position: absolute;
    top: 42.5%;
    left: 14%;
    width: 74.7vw;
    height: 0.5vh;
    background-color: grey;
}
.sith img{
    width: 100% ;
          
}

.sith{
    position: absolute;
    z-index: 20;
    top: 45%;
    left: 13.5%;
    
}
.sith:hover{
    opacity: 90%;
}
.middle{
   
    display: flex;
    position: relative;
}
.middle figure{
    width: 40vw;
}
.rey{
    position: absolute;
    display: flex;
    left: 73.3%;
    top: 47.5%;
    z-index: 30;
    
}
.rey :hover{
    opacity: 90%;
}
.rey img{
    width: 21vw;
}
.main2{
    display: flex;
    position: relative;
    height: 110vw;
    width: 100%;
    background-color:#2D2D2D;
    background-repeat: no-repeat;
    background-size: cover;

}
.container{
    display: flex;
    justify-content: flex-start;
}
.luke{
    width: 39%;
    top: 13.3%;
    position: absolute;
    left: 9%;
}
.luke img{
    width: 100%;
    height: 100%;
}
.line1{
    position: absolute;
    left: 48%;
    top: 13.3%;
    height: 7.2%;
    width: 39.3%;
    display: flex;
    align-items: flex-start;
}
.line1 img{
    width: 100%;
    height: 100%;
}
.gun:hover{
    cursor: pointer;
    background-image: url(assets/Grupo\ novos\ graficos.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.battle:hover{
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    background-image: url(assets/Grupo\ novos\ graficos.svg);
}
.ship:hover{
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    background-image: url(assets/Grupo\ novos\ graficos.svg);
}
.storm:hover{
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    background-image: url(assets/Grupo\ novos\ graficos.svg);
}
.luke:hover{
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/Grupo\ novos\ graficos.svg);
}
.line2{
    position: absolute;
    left: 48%;
    top: 24%;
    height: 7.2%;
    width: 39.3%;
    display: flex;
    align-items: flex-start;
}
.line2 img{
    width: 100%;
    height: 100%;
}
.imgbig{
    position: absolute;
    left: 9%;
    top: 37.4%;
    height: 7.2%;
    width: 78%;
    display: flex;
    align-items: flex-start;

}
.imgbig img{
    width: 100%;
    height: 100%;

}
.container-list{
    position: absolute;
    left: 41%;
    top: 48%;
    width: 29%;
    height: 44%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    
    
}

.estrutura{
    display: flex;
    justify-content: flex-end;
    font-size: 2.3vw;
    font-family: 'Open Sans', sans-serif;
}
.bolder{
    font-weight: bolder;
}

.line-down{
    display: flex;
    justify-content: flex-end;
    font-size: 2.3vw;
    font-family: 'Open Sans', sans-serif;
}
.list{
    font-family: 'Open Sans', sans-serif;
    position:absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    font-size: 1.4vw;
    width: 100%;
    height: 60%;
    justify-content: space-evenly;
}
.list p:hover{
    color: white;
    line-height: 125%;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    transition: background-color .6s ease-in-out;
    background-color:#FF4500;
}

.atributos{
    position: absolute;
    top: 4.5%;
    display: flex;
    left: 5.6%;
    justify-content: center;
    align-items: center;
    height: 7%;
    width: 30%;
}
.atributos h2{
    color: white;
    font-size: 2vw;
    font-weight: 800;
}
.txt-main{
    position: absolute;
    top: 78%;
    left: 41.7%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
    height: 7%;
}
.txt-main h3{
    font-size: 1vw;
    color: #FFFFFF;
    font-weight: 6;
}
.txt2{
    display: flex;
    justify-content: flex-end;
}
.how{
    position: absolute;
    top:88%;
    left:37%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 29%;
}
.how h2{
    font-size: 2.3vw;
    color:#FFFFFF ;
    font-weight: 900;
    text-transform: uppercase;
}
.storm-cape{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    top: 82.7%;
    width: 30vw;
    left: 7%;
    
}
.storm-cape img{
    width: 25vw;
}
.butao{
    border: solid 0.5px white;
    height: 8.7%;
    display: flex;
    width: 42%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:79%;
    left: 31%;
    border-radius: 7%;
   
}
.butao button{
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: rgb(255,255,255, 0);
    font-size: 1vw;
    color: white;
}
footer{
    position: relative;
    display: flex;
    height: 68vw;
    align-items: flex-end;
}
.options{
    position: absolute;
    width: 100%;
    height: 29%;
    top: 0%;
    display: flex;

}
.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 13.4%;
    height: 68%;
    top: 20%;
    position: absolute;
    left: 36%;
}
.box-download{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28%;
    background-color: black;

}.options button{
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
    color: white;
    background-color: black;
}
.options button:hover{
    cursor: pointer;
    box-shadow: inset  -14vw 0  #D74430, 2px 0 2px #000, 0 4px 4px #707070;
    transition: box-shadow 1s ease;
    box-shadow: inset  -6vw 0  #D74430;
    transition: box-shadow 1s ease-in-out;
    -webkit-transition: box-shadow 1s ease-in-out;
    -moz-transition: box-shadow 1s ease-in-out ;
    -o-transition: box-shadow 1s ease-in-out;
}
.options span:hover{
    cursor: pointer;
    box-shadow: inset  -14vw 0  #D74430, 2px 0 2px #000, 0 4px 4px #707070;
    transition: box-shadow 1s ease;
   
}
.options h2{
    color: white;
    font-size: 1.4vw;
    font-weight: lighter;
}
.options h1{
    font-size: 2vw;
    font-weight: 900;
}
.options p{
    display: flex;
    justify-content: flex-end;
    font-size: 0.8vw;
    width: 54%;
}
.options span{
    display: flex;
    justify-content: center;
    font-size: 0.8vw;
    width: 54%;
}


.line-first{
    width: 38%;
    height: 2%;
    background-color:black;
}
.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 13.4%;
    height: 68%;
    top: 20%;
    position: absolute;
    left: 58%;
}
.third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 13.4%;
    height: 68%;
    top: 20%;
    position: absolute;
    left: 80%;
}

.box-footer{
    background-color: #FF5A56;
    height: 39vw;
    width: 56vw;
}
.vader{
    bottom: 3.2%;
    position: absolute;
    left: 43.6%;
    width: 42%;
    height:60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.vader img{
    width: 80%;
}
.color{
    display: flex;
    justify-content: center;
}
.app{
    bottom: 42%;
    left: 11%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 23%;
}
.app h2{
    font-size: 2.3vw;
    font-weight: 800;
    color: white;
}
.parag{
    left: 15%;
    bottom: 34%;
    width: 22%;
    height: 7%;
    position: absolute;
    

}
.parag p{
    font-size: 0.9vw;
    color: white;
}
.apps{
    position: absolute;
    display: flex;
    bottom: 28%;
    left: 11.7%;
    justify-content: center;
    align-items: center;
    width: 28%;
    cursor: pointer;
}
.apps img{
    width: 10.5vw;
    margin: 1.5%;
}
.line-space{
    position: absolute;
    width: 22.4%;
    left: 14.6%;
    bottom: 24%;
    height: 0.3%;
    background-color: #D74430;
}
.logo-footer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    bottom: 13%;
    left: 10%;
}
.logo-footer img{
    width: 48%;
}
.footer-footer{
    width: 23%;
    bottom: 2%;
    left: 15%;
    position:absolute;
    display: flex;
    justify-self: center;
    height: 7%;
}
.footer-footer p{
    color: white;
    font-size: 0.9vw;
}
.rodape{
    width: 20%;
    position: absolute;
    left: 62.6%;
    bottom: 2.8%;
}
.rodape p{
    font-size: 0.8vw;
}
/**.sith{
    position: absolute;
    top: 20%;

}
.sith img{
    width: 30%;
}
.imgs{
    position: relative;
    display: flex;
}

